In [9]:
import sqlite3
import os
from deltalake import DeltaTable
from deltalake.writer import write_deltalake
import numpy as np
import pandas as pd
conn = sqlite3.connect("database.sqlite")

In [22]:
user_df = pd.read_sql_query("select * from user;", conn)
grade_df = pd.read_sql_query("select * from grade;", conn)
method_df = pd.read_sql_query("select * from method;", conn)
ascent_df = pd.read_sql_query("select * from ascent;", conn)

In [23]:
# Write bronze data
write_deltalake("climbing_project/data/bronze/user", user_df, mode="overwrite")
write_deltalake("climbing_project/data/bronze/grade", grade_df, mode="overwrite")
write_deltalake("climbing_project/data/bronze/method", method_df, mode="overwrite")
write_deltalake("climbing_project/data/bronze/ascent", ascent_df, mode="overwrite")

In [29]:
# Read bronze data
fact_user_bronze_df = DeltaTable("climbing_project/data/bronze/user").to_pandas()
fact_ascent_bronze_df = DeltaTable("climbing_project/data/bronze/ascent").to_pandas()
dim_grade_bronze_df = DeltaTable("climbing_project/data/bronze/grade").to_pandas()
dim_method_bronze_df = DeltaTable("climbing_project/data/bronze/method").to_pandas()

In [ ]:
# Apply transformations for silver table

In [69]:
# METHOD rename column name to climb_type
dim_method_silver_df = dim_method_bronze_df.rename(columns={'shorthand':'climb_type'})

In [70]:
# GRADE
dim_grade_columns = ['id', 'score', 'fra_routes', 'fra_boulders']
dim_grade_silver_df = dim_grade_bronze_df[dim_grade_columns]

In [71]:
# USER
fact_user_silver_df = fact_user_bronze_df[fact_user_bronze_df['deactivated'] == 0]
user_silver_columns = ['id', 'country', 'sex', 'height', 'weight', 'started']
fact_user_silver_df = fact_user_silver_df[user_silver_columns]

In [90]:
# ASCENT Add column to convert unix time to timestamp, select relevant columns and filter to year between 1980 and 2017
fact_ascent_bronze_df['datetime'] = pd.to_datetime(fact_ascent_bronze_df['date'], unit='s')
ascent_silver_columns = ['id','user_id', 'grade_id', 'method_id', 'climb_type', 'year', 'chipped']
fact_ascent_silver_df = fact_ascent_bronze_df[ascent_silver_columns]
fact_ascent_silver_df = fact_ascent_silver_df[(fact_ascent_silver_df['year'] >= 1980) & (fact_ascent_silver_df['year'] <= 2017)]

# Join to grade and method tables
fact_ascent_silver_grade_df = pd.merge(fact_ascent_silver_df, dim_grade_silver_df, left_on='grade_id', right_on='id',suffixes=('_ascent', '_grade'))
fact_ascent_silver_final_df = pd.merge(fact_ascent_silver_grade_df, dim_method_silver_df, left_on='method_id', right_on='id', suffixes=('_ascent', '_method'))
fact_ascent_silver_final_columns = ['id_ascent', 'user_id', 'year', 'chipped', 'score_ascent', 'fra_routes', 'fra_boulders', 'climb_type_method']
fact_ascent_silver_final_df = fact_ascent_silver_final_df.dropna(subset=['fra_routes'])
fact_ascent_silver_final_df = fact_ascent_silver_final_df[fact_ascent_silver_final_columns]

In [91]:
# Write to delta lake
write_deltalake("climbing_project/data/silver/user", fact_user_silver_df, mode="overwrite")
write_deltalake("climbing_project/data/silver/grade", dim_grade_silver_df, mode="overwrite")
write_deltalake("climbing_project/data/silver/method", dim_method_silver_df, mode="overwrite")
write_deltalake("climbing_project/data/silver/ascent", fact_ascent_silver_final_df, mode="overwrite")

In [92]:
# Read silver tables
fact_user_silver_df_2 = DeltaTable("climbing_project/data/silver/user").to_pandas()
fact_ascent_silver_df_2 = DeltaTable("climbing_project/data/silver/ascent").to_pandas()

In [83]:
fact_user_silver_df_2

          id country  sex  height  weight  started  __index_level_0__
0          1     SWE    0     177      73     1996                  0
1          2     SWE    0       0       0     2000                  1
2          3     SWE    0     180      78     1995                  2
3          4     SWE    1     165      58     2001                  3
4          5     USA    0       0       0     1991                  4
...      ...     ...  ...     ...     ...      ...                ...
60028  67021     ESP    0     180      78        0              62588
60029  67022     FRA    0     185      68     2016              62589
60030  67023     USA    0     190      88     2001              62590
60031  67024     POL    1       0       0        0              62591
60032  67025     UKR    0     180      68     2017              62592

[60033 rows x 7 columns]

In [102]:
# Create gold tables

# Average height by grade
merged_df = fact_user_silver_df_2.merge(fact_ascent_silver_df_2, left_on='id', right_on='user_id')
avg_height_by_grade_year = merged_df.groupby(['fra_routes'])['height'].mean().reset_index()

# Users grouped y countries
users_grouped_by_country_df = fact_user_silver_df_2['country'].value_counts()

In [103]:
print(users_grouped_by_country_df.to_string())

country
USA      11471
ESP       6590
DEU       3505
SWE       3434
ITA       3380
FRA       3185
POL       3183
GBR       2596
BRA       1976
CAN       1834
AUT       1811
NOR       1727
CHE       1334
AUS       1141
ZAF       1121
RUS       1017
NLD        880
BEL        617
PRT        596
MEX        596
CZE        570
SVN        525
HRV        483
DNK        473
NZL        414
FIN        395
ROM        358
BGR        295
UKR        291
GRC        253
HUN        244
TUR        199
ARG        199
JPN        174
IRN        173
SVK        159
none       157
CHL        151
VEN        145
CHN        141
ISR        140
COL        105
SGP        101
IRL         96
            94
IND         89
ISL         82
SRB         74
KOR         74
AND         68
LTU         67
MSR         65
MYS         59
HKG         57
PER         52
LUX         51
ECU         46
TWN         43
MKD         43
PHL         38
FXX         37
THA         31
IDN         31
YUG         30
ZWE         30
REU         29
LVA         24
BIH         23
ALB         19
ARE         18
EST         18
CRI         16
SEN         15
BOL         14
BLR         14
VNM         14
MLT         14
HND         12
KAZ         11
URY         11
PAK         10
NPL         10
CIV         10
PRI         10
TGO          9
DOM          8
GEO          8
ATA          7
NAM          7
CUB          7
CYP          7
GTM          7
PAN          6
TJK          6
GUM          6
GHA          6
AFG          6
MAR          5
AZE          5
ARM          5
UZB          5
NGA          5
AGO          5
LKA          4
BHS          4
LIE          4
FRO          4
ABW          4
WLF          4
DZA          4
SLV          4
IRQ          4
JAM          4
LBN          4
PNG          4
RWA          3
0            3
SWE\n        3
YEM          3
BGD          3
SWZ          3
SYR          3
TZA          3
WSM          3
ZMB          3
GAB          3
QAT          3
JOR          3
BMU          3
UGA          3
MDA          3
ATF          3
UMI          3
BRN          3
BWA          3
IOT          3
OMN          3
ETH          3
ATG          3
MDG          3
LAO          2
DJI          2
COM          2
BDI          2
GRL          2
BLZ          2
ESH          2
SMO          2
BRB          2
KWT          2
PYF          2
COD          2
SDN          2
LBY          2
PLW          2
VUT          2
NFK          2
CYM          2
BEN          2
GUY          2
TUV          2
CMR          2
MUS          2
SAU          2
MNG          2
EGY          2
KGZ          2
ERI          2
MDV          2
MAC          2
GNB          1
NIU          1
NIC          1
MWI          1
SHN          1
176          1
FRA\n        1
TON          1
GNQ          1
SMR          1
BHR          1
CCK          1
SOM          1
FLK          1
KEN          1
MHL          1
MOZ          1
HTI          1
KIR          1
TUN          1
NRU          1
STP          1
KNA          1
SLB          1
SLE          1
GIB          1
FSM          1
COG          1
VGB          1
RSU          1
LBR          1
MLI          1
MYT          1
TCD          1
ASM          1
VAT          1
UNK          1
AIA          1
MCO          1
FJI          1
BFA          1
SGS          1

In [104]:
fact_ascent_silver_df_2

,id_ascent,user_id,year,chipped,score_ascent,fra_routes,fra_boulders,climb_type_method
0,2,1,1999,0,400,6a,6A,onsight
1,3,1,1999,0,400,6a,6A,onsight
2,4,1,1999,0,400,6a,6A,onsight
3,5,1,1999,0,400,6a,6A,onsight
4,6,1,1999,0,400,6a,6A,onsight
...,...,...,...,...,...,...,...,...
4111773,4910370,59627,2017,0,650,6c+,6C+,redpoint
4111774,4910371,44075,2017,0,700,7a,7A,redpoint
4111775,4910376,19098,2017,0,750,7a+,7A+,onsight
4111776,4910379,19098,2017,0,900,7c,7C,onsight
4111777,4910381,24751,2017,0,1000,8a,8A,redpoint